<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script defer src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script defer src="/js/single_preview.js"></script>
</head>
<body>
<div class="container-fluid" id="app">
    <h1><%= title %></h1>
    <p class="mb-2"><em>*Первые задачи будут в центре.</em></p>
    <form id="form" action="/data/" method="post">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th class="tab-num">#</th>
                    <th class="tab-sector-count">Количество секторов</th>
                    <th class="tab-color">Цвет</th>
                    <th class="tab-task">Задача</th>
                    <th class="tab-del">del</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(row, i) in rows">
                    <th>
                        <input v-model="rows[i].num = i" type="number" :name="'tasks[' + i + '][num]'" class="form-control"
                               placeholder="номер круга" readonly>
                    </th>
                    <td>
                        <input v-model="rows[i].count" type="number" min="1" :name="'tasks[' + i + '][count]'"
                               class="form-control" placeholder="сектора" required>
                    </td>
                    <td class="relative">
                        <input v-model="rows[i].color" type="text" :name="'tasks[' + i + '][color]'" class="form-control" placeholder="цвет" required>
                        <span class="color-preview" :style="{'background-color': rows[i].color}"></span>
                    </td>
                    <td>
                        <input v-model="rows[i].task" type="text" :name="'tasks[' + i + '][task]'" class="form-control" placeholder="задача" required>
                    </td>
                    <td>
                        <button class="btn btn-danger" type="button" @click="deleteTask(i)">-</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <button class="btn btn-success mt-2 mr-1" type="button" @click="addNewNode">Добавить задачу</button>
        <button class="btn btn-success mt-2 mr-1" type="button" @click="preview">Preview</button>
        <button class="btn btn-success mt-2 mr-1" type="button" @click="getRandomColor">Random color</button>
        <button class="btn btn-success mt-2 mr-1" type="button" @click="fakeData">Random data</button>
        <button class="btn btn-success mt-2" type="submit">Страница для печати</button>
    </form>
    <div class="d-flex align-items-center mt-2" v-if="visible">
        <svg id="arcs" style="height: 400px;width: 400px;">
            <path v-for="element in dataArray.slice().reverse()" :id="element.id" :d="element.d" fill="white" :stroke="element.color" stroke-width="3" />
        </svg>
        <table style="font-family: sans-serif;font-size:12px">
            <tr v-for="element in elements.slice().reverse()"><td class="bull" style="font-size:50px;line-height:0" :style="{color: element.color}">&bull;</td><td v-text="element.task"></td></tr>
        </table>
    </div>
</div>
</body>
</html>
